.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 7px;
    border-style: solid;
    border-color: var(--primary) var(--primary) var(--primary) transparent;
}

.alert p {
    color: #666666;
    text-align: center;
}

.revenue {
    padding: 1rem;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.article {
    background-image: url("../assets/Balance.png");
    width: 100%;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.article div {
    display: grid;
    gap: 1rem;
    width: 100%;
    place-items: center;
    /* place-content: center; */
}

.article h2 {
    color: #fff;
}

.article p {
    color: #caffec;
}

.button {
    all: unset;
    display: flex;
    color: #10be7e;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    font-weight: bold;
    width: 70%;
    border-radius: 5px;
}

.charts-bar {
    margin-top: 3rem;
    width: 80%;
    /* height: 300px; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1.5rem;
}

.item {
    border-radius: 10px;
    border: 1px solid var(--primary);
    padding: 0.88rem;
    padding-left: 0.4rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid i {
    width: 45px;
    height: 45px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid p {
    color: #7c7c7c;
    font-weight: bold;
    /* font-family: "Fellix"; */
}

.grid h1 {
    color: var(--primary);
    grid-column: 2 / span 2;
    justify-content: center;
}

.charts,
.charts-bar {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid var(--primary);
    grid-column: 1 / span 2;
    width: 70%;
    padding: 0.9rem;
    position: relative;
}